.Main {
    //background-color: #d8d8d8;
    background-color: antiquewhite;
    height: 100vh;
    padding: 24px;
  }
  
  
  /* Input start */
  
  .InputWrap {
    display: flex;
    height: 50px;
    border-radius: 12px;
    margin-bottom: 24px;
  
  }
  
  .Input {
    width: 70%;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
  
    color: lightslategray;
    border: none;
    outline: 0;
  
  }
  .Input::placeholder {
    padding: 10px;
  }
  
  
  
  .Button {
    width: 20%;
    margin-left: 10px;
    border-radius: 18px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
  
    font-size: 18px;
    font-weight: bold;
    color: white;
  
    $myColor: cornflowerblue;
    &:hover, &:active {
      background: lighten($myColor, 5%);
    }
  
  }
  
  
  /* Input finish */
  
  /* Card List start */
  
  .List {
    display: flex;
  }
  
  .Select {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 24px;
    width: 10%;
    padding: 4px 8px;
    border-radius: 8px;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
  } 
  
  .Card {
    width: 200px;
    height: fit-content;
    padding: 12px;
    border-radius: 15px;
    background-color: cornflowerblue;
    font-size: 14px;
    color: #fff;
    margin-left: 24px;
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
    text-decoration: none;
    display: block;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  
    &:hover{
      box-shadow: 0px 20px 36px rgba(0, 0, 0, 0.08);
      transform: translateY(-5px);
    }
  }
  
  .btnRemoveIcon{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
  
    &:hover {
      opacity: 1;
    }
  }
  
  .Card:first-child {
    margin-left: 0;
  }
  
  .ActionButtonWrap {
    display: flex;
    justify-content: flex-end;
  }
  
  
  .ActionButtonClose {
    background: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
  
    &:hover, &:active {
      background: lighten(crimson, 5%);
    }
  }
  
  
  
  .MainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Title {
    font-size: 24px;
    font-weight: 500;
  }
  
  .Description {
    margin-top: 4px;
    font-size: 16px;
  }
  
  .Temperature {
    margin-top: 12px;
    font-size: 40px;
    font-weight: 500;
  }
  
  .TemperatureIcon::after {
    content: "°";
  }
  
  .Information {
    margin-top: 12px;
  }
  
  .Information > div {
    margin-top: 4px;
  }
  
  /* Card finish */
  
  /* Details start */
  
  .DetailsWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .HourlyCards {
    margin-top: 24px;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 20px;
  }
  
  .HourlyCard {
    background-color: cornflowerblue;
    border-radius: 12px;
    margin-left: 8px;
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .TemperatureIcon::after {
    content: "°";
  }
  
  .Back {
    color: white;
    background-color: crimson;
    margin-bottom: 24px;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  
  
  
      &:hover, &:active {
        background: lighten(indianred, 5%);
  
  
      }
  
  
  }
  
  
  
  
  
  
  
  /* Details finish */